@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{

    --cor-fundo: beige;
    --cor-navbar: linear-gradient(to right, rgba(8, 78, 2, 0.801) 35%, rgb(255, 145, 0));
    --cor-letras-nav: beige;
    --cor-h1: beige;
    --cor-hover-nav: rgb(235, 235, 195);
    --fonte-texto-nav: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    --fonte-titulo-nav: Verdana, Geneva, Tahoma, sans-serif; 

}

body{
    background-color: var(--cor-fundo);
}

.navbar h1{
    font-size: 2em;
    color: var(--cor-h1);
    font-family: var(--fonte-titulo-nav);
    border: 4px solid beige;
    padding: 5px;
    border-radius: 10px;
}



.navbar_container{
    background-image: var(--cor-navbar);
}

.navbar{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.navbar > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 16px;
    
}


.navbar_a {

    margin-top: 8px;
    font-size: 24px;
    text-decoration: none;
    margin-right: 50px;
    color: var(--cor-letras-nav);
    font-family: var(--fonte-texto-nav) ;
    padding: 10px;

    
}

.navbar_a:hover {

    background-color: var(--cor-hover-nav) ;
    color: black;
    border-radius: 20px;
    
}

.section_container{
   display: flex;
   align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: -40px;
    
    
}

.section_container h1{
    font-size: 3em;
    margin-bottom: 10px;

}

.section_container p{

    width: 500px;
   
    

}

.section_container img{

    width: 600px;
    
  
}

.text_container{

    margin-right: 100px;
    text-align: center;
    border: 5px solid rgb(233, 233, 172);
    border-radius: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.rodape{
    background-color: rgb(223, 118, 49);
}

.sobre{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sobre img{
    width: 180px;
    height: 180px;
    


}








